
/****************************************************************************/
/* NAVBAR CUSTOM HEADER */
/****************************************************************************/
.container-custom-header {
    background-color: #01965e;
    /*height: 39px !important;*/
    padding: 0px;
    margin: 0px;
}

.navbar.navbar-custom-header {
    font-family: 'BNPP Sans', sans-serif;
    font-size: 12px;
    max-width: 950px;
    min-height: 0px;
    max-height: 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

    .navbar.navbar-custom-header .navbar-nav {
        margin-top: -1px;
        margin-bottom: 0px;
        height: 39px;
    }

        /************************************************************************/
        /*Primo livello*/
        /************************************************************************/
        .navbar.navbar-custom-header .navbar-nav .dropdown {
            /*width: 100%;*/
        }

            /*.navbar.navbar-custom-header .navbar-nav .dropdown .dropdown-menu {
                width: 100%;
            }

        .navbar.navbar-custom-header .navbar-nav .dropdown li {
            width: 100%;
        }*/

        .navbar.navbar-custom-header .navbar-nav a {
            background-color: #01965e;
            color: #fff;
            height: 39px;
            font-size: 12px;
            line-height: 30px;
            font-weight: 400;
            border-left: 1px solid #00784b;
        }

            .navbar.navbar-custom-header .navbar-nav a:hover,
            .navbar.navbar-custom-header .navbar-nav a:focus,
            .navbar.navbar-custom-header .navbar-nav .active a:hover,
            .navbar.navbar-custom-header .navbar-nav .active a:focus,
            .navbar.navbar-custom-header .navbar-nav .open > a {
                background-color: #00784b;
            }

        .navbar.navbar-custom-header .navbar-nav .dropdown .dropdown-menu {
            padding: 0px;
            border: none;
            margin-left: 0px !important;
            min-width: 100% !important;
        }

        .navbar.navbar-custom-header .navbar-nav .dropdown-menu a {
            line-height: 34px;
            border-left: none;
        }


/****************************************************************************/
/* NAVBAR CUSTOM MAIN */
/****************************************************************************/

.container-custom-main {
    background-color: #e7e7e7;
    height: 56px !important;
    padding: 0px;
    margin: 0px;
}

.navbar.navbar-custom-main {
    font-family: 'BNPP Sans', sans-serif;
    font-size: 12px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border: none;
}

    .navbar.navbar-custom-main .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 56px;
    }

        /************************************************************************/
        /*Primo livello*/
        /************************************************************************/
        .navbar.navbar-custom-main .navbar-nav li {
            z-index: 1;
        }

        .navbar.navbar-custom-main .navbar-nav a {
            color: #444;
            background-color: #e7e7e7;
            border-left: 1px solid lightgray;
            /*border-bottom: 1px solid lightgray;*/
            text-transform: uppercase;
            height: 56px;
            font-size: 12px;
            line-height: 26px;
            font-weight: 300;
        }

            .navbar.navbar-custom-main .navbar-nav a:hover,
            .navbar.navbar-custom-main .navbar-nav a:focus,
            .navbar.navbar-custom-main .navbar-nav .active a:hover,
            .navbar.navbar-custom-main .navbar-nav .active a:focus,
            .navbar.navbar-custom-main .navbar-nav .open > a {
                background-color: #dbdbdb;
                color: #444;
            }


    .navbar.navbar-custom-main .dropdown-menu {
        padding: 0px;
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-menu a {
        line-height: 52px;
    }

    /************************************************************************/
    /*Secondo livello*/
    /************************************************************************/
    .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu {
    }

        .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a {
            /*background-color: #e7e7e7;
            color: #000;*/
            text-transform: uppercase;
            height: 56px;
            font-size: 12px;
            line-height: 52px;
            font-weight: 300;
            border-left: 1px solid lightgray;
            /*border-bottom: 1px solid lightgray;*/
        }

            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a span {
                margin-top: 20px;
            }

            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a:hover,
            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a:focus,
            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .active a:hover,
            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .active a:focus,
            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .open a {
                /*background-color: #dbdbdb;
                color: #000;*/
            }

        /************************************************************************/
        /* Terzo livello*/
        /************************************************************************/
        .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu {
        }

            .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu a {
                /*background-color: #e7e7e7;
            color: #000;*/
                text-transform: uppercase;
                height: 56px;
                font-size: 12px;
                line-height: 52px;
                font-weight: 300;
                border-left: 1px solid lightgray;
                /*border-bottom: 1px solid lightgray;*/
            }

                .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu a:hover,
                .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu a:focus,
                .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu .active a:hover,
                .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu .active a:focus,
                .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu .open a {
                    /*background-color: #dbdbdb;
                color: #000;*/
                }

.navbar-toggle-button {
    background-color: #01965e;
    border: none;
    border-radius: unset;
    margin-top: 0px;
    padding-top: 0px;
    display: inline-block;
    top: 0;

    height: 38px;
    margin-top: 1px;
}

    .navbar-toggle-button .icon-bar {
        background-color: #fff;
    }

@media (max-width: 767px) {

    .navbar-toggle-button {
    }

    .navbar.navbar-custom-main .navbar-nav a {
        margin-left: 10px;
        height: 39px;
        font-size: 14px;
        line-height: 20px;
        background-color: #01965e;
        color: #fff;
        font-weight: 400;
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a {
        height: 39px;
        line-height: 31px;
        font-size: 14px;
        font-weight: 400;
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu a {
        height: 39px;
        line-height: 31px;
        font-size: 14px;
        font-weight: 400;
    }

    .navbar.navbar-custom-main .navbar-nav a:hover,
    .navbar.navbar-custom-main .navbar-nav a:focus,
    .navbar.navbar-custom-main .navbar-nav .active a:hover,
    .navbar.navbar-custom-main .navbar-nav .active a:focus,
    .navbar.navbar-custom-main .navbar-nav .open > a {
        background-color: #00784b;
        color: #fff;
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-extends a {
        background-color: #00784b;
    }

    .container-custom-main {
        height: 39px !important;
    }

    .navbar.navbar-custom-main .navbar-nav {
        height: 39px !important;
    }

    .navbar.navbar-custom-main {
        height: 39px;
    }

    .navbar .navbar-header {
        background-color: #fff;
        height: 39px;
    }

    .navbar-toggle-button {        
        margin-right: 0px;
        width: 39px;
        border-radius: 0px;
        padding-top: 7px;
        padding-left: 8px;
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-menu a {
        line-height: 30px;
    }

    .container-custom-header {
        /*height: 78px !important;*/
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a span {
        margin-top: 0px;
    }

    .navbar.navbar-custom-main .navbar-nav .dropdown-menu .dropdown-submenu a {
        border-bottom: none;
    }

    #idLeMieAssicurazioni {
        display: none
    }
}

@media (min-width: 768px) {

    .navbar-toggle-button {
        display: none;
    }

    .navbar-right {
        margin-right: 0px;
    }

    #idNavBarMainEsci {
        display: none;
    }

    #idNavBarMainProfilo {
        display: none;
    }

    #idNavBarMainProfiloPersonale {
        display: none;
    }

    #idNavBarMainFAQ {
        display: none;
    }

    #idNavBarMainContatti {
        display: none;
    }

    #idNavBarMainNews {
        display: none;
    }

    #idNavBarMainNotifiche {
        display: none;
    }

    .navbarMainMenuAltriProfili {
        visibility: hidden;
    }

    #idLeMieAssicurazioniResponsive {
        display: none;
    }
}
